<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Story</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="{% static 'css/CreateStory.css'%}" rel="stylesheet">
</head>
<body>
    <!-- <div class="icon-bar">
        <a href="javascript:void(0)" class="image-file" onclick="open_image_upload_div()"><i class="fa fa-file-image-o" aria-hidden="true"></i></a> 
        <a href="javascript:void(0)" class="text-part" onclick="create_text_area()"><i class="fa fa-font" aria-hidden="true"></i></a> 
        <a href="javascript:void(0)" class="video-file" onclick="open_video_upload_div()"><i class="fa fa-file-video-o" aria-hidden="true"></i></a> 
    </div> -->
    <!-- <div class="create_story_header_wrapper">
        <div class="create-story-header">
            <button class="btn btn-primary" type="submit"> Submit </button>
        </div>
    </div> -->
    <div class="header" style="height: 60px;background-color: #aca000; margin-bottom: 30px;">

    </div>
    <div class="container-fluid container-width">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Story Header</a></li>
                        <li><a data-toggle="tab" href="#menu1">Story media</a></li>
                        <li><a data-toggle="tab" href="#menu2">Preview</a>  </li>
                        <li><a data-toggle="tab" href="#menu3">Publish</a></li>
                    </ul>
                </div>
            </div>
        
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-10 col">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                        <form class="story_main_tag" method="POST" action=".">
                            {% csrf_token %}
                            <div class="input-container">
                                <div class="input-wrapper lc_count">
                                    <input type="text" name="Story_Tilte" class="input-style" placeholder="Title Here" required>
                                    <span class="word-count">
                                        0/100
                                    </span>
                                </div>
                            </div>
                            <div class="input-container">
                                <div class="input-wrapper lc_count">
                                    <input type="text" name="Story_One_liner" class="input-style" placeholder="One Liner" required>
                                    <span class="word-count">
                                        0/250
                                    </span>
                                </div>
                            </div>
                            <div class="input-container" id="all-fileds">
                            </div>
                            <!-- <input type="submit" value="Next"> -->
                            
                            <button class="btn-sm btn-primary" type="submit">Next </button>
                            
                        </form>
                    </div>
                    
                </div>
                <!-- <div class="col-lg-4 col-md-4 col-sm-4 col">
                    <div class="img-snap-conatiner" id="image_spansort">
                    </div>
                </div>  -->
            </div>
        </div>
    </div>
</body>
</html>