<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="UTF8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Required Bootstrap css , popper css, bootstrap js and jQuery -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!-- Required page libraries-->
      {% load static %}
        <link rel="stylesheet" href="{% static 'portfolio/assets/css/portfolio_style.css' %}">
        <script src="{% static 'portfolio/assets/js/index_js.js' %}"></script>

    <!-- Required title tags -->
        <title>
            Index
        </title>
    </head>
    <body>
        <div class=" container navbar-container">
            <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style= 'background-color: #2a3444;height: 75px;'>
                <a class="navbar-brand" href="#">BHARAT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto justify-content-ends nav-item-ul">
                        <li class="nav-item ">
                            <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Portfolio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle dropdown-toggle-icon" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Downloads
                            </a>
                            <div class="dropdown-menu dropdown-menu-tip" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Resume</a>

                            <a class="dropdown-item" href="#">Templates</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact me</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="main-body-wrapper">
            <div class="outer-body-wrapper">
                <div class="jumbotron content-wrapper">
                    <div class='content'>
                        <p>Hello,</p>
                        <h1> I am
                            <span>Bharat Choubey</span>
                        </h1>
                        <p>
                            Business Analyst and PartTime Web-Developer
                        </p>
                        <button type="button" class="btn btn-primary">Hire Me </button>
                        <button type="button" class="btn btn-default">Get CV </button>
                    </div>
                </div>
            </div>


            <div class="container pf-conatiner">
                <div class="row pf-wrapper-primary">
                    <div class="col-lg-12 col-md-12 col-xs-12 pf-wrapper-secondory">
                        <div class="pf-title">

                            <a href='javascript:void(0)'>
                                Port<span>folio</span>
                            </a>

                        </div>
                        <div class="d-inline-flex p-2 pf-left-box-wrapper">

                            <div class="pf-left-box-left">

                                <h1>2.5
                                    <span>
                                        Years
                                    </span>
                                </h1>
                            </div>
                            <div class="pf-left-box-right">
                                <h3>
                                    Work Experience
                                </h3>
                            </div>
                        </div>


                        <div class="d-inline-flex p-2 pf-right-box-wrapper">
                            <div class="pf-right-box-title">
                                <p>
                                    Let me intoduce about myself...
                                </p>
                                <p>
                                    Whose given. Were gathered. There first subdue greater. Bearing you Whales heaven midst their. Beast creepeth. Fish days. Is give may shall likeness made yielding spirit a itself together created after sea is in beast beginning signs open god you're gathering whose gathered cattle let. Creature whales fruit unto meat the life beginning all in under give two.
                                <p>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

            <div class="container skill-section-container">
                <div class="row skill-section-container-row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 skill-section-wrapper">
                        <div class="skill-section-title">
                            <p>Data Warehosing technologies</p>
                            <div class="skill-tech">
                                <p> SQL</p>
                                <div class="Skill-tech-processbar">
                                    <div class="skill-percent">
                                        80%
                                    </div>
                                </div>
                                <p> PL/SQL</p>
                                <div class="Skill-tech-processbar">
                                    <div class="skill-percent">
                                        80%
                                    </div>
                                </div>
                                <p>Dimension Modeling</p>
                                <div class="Skill-tech-processbar">
                                    <div class="skill-percent">
                                        80%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 skill-section-wrapper">
                        <div class="skill-section-title">
                            <p>Web Technologies</p>
                            <div class="skill-tech">
                                <p> SQL</p>
                                <div class="Skill-tech-processbar">
                                    <div class="skill-percent">
                                        80%
                                    </div>
                                </div>
                                <p> PL/SQL</p>
                                <div class="Skill-tech-processbar">
                                    <div class="skill-percent">
                                        80%
                                    </div>
                                </div>
                                <p>Dimension Modeling</p>
                                <div class="Skill-tech-processbar">
                                    <div class="skill-percent">
                                        80%
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
