{% extends 'blog/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <div style=margin:56px;>
    </div>

            <div class="text-center banner" style="background-image:url('https://chopra.com/sites/default/files/field/image/cosmic-evolution-q-a-current-understanding-of-the-universe_0.jpg')">
                <div class="gradient"></div>
                <div class="container">
                <!-- jumbotron -->
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="">Hello!, I am Bharat </h1>
                            <p>I am a bloger, web-designer and datawarehousing services and solutions provider.</p>
                            <p><a href="#" target="_blank" class="btn btn-primary" role="button">Read Blog</a>
                            <a href="{% url 'portfolio:portfolio' %}" target="_blank" class="btn btn-success " role="button">Portfolio</a></p>
                        </div>
                    </div>
                </div>
            </div>
                <!-- jumbotron ends -->
            <div class="container">
              <!-- Recent stories container -->
                <div class="base-conatiner-wrapper">
                    <div class="row">
                        <div class="col-lg-12 category-wrapper">
                            <div class="category-name">
                                <h2>
                                    Recent Stories
                                </h2>
                            </div>
                        </div>
                    </div>

                  {% include "blog/recent_view.html" %}
                </div>

              <!-- Category stories coatiner -->
                {% include 'blog/entertainment_view.html'%}


                <div class="base-conatiner-Repeat-wrapper">
                    <div class="row">
                        <div class="col-lg-12 category-wrapper">
                            <div class="category-name">
                                <h2>
                                    Repeat mode On
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div class="row category-content-wrapper">
                        <div class="col-lg-6">
                            <div class="repeat-mode-view-wrapper">
                                <div class="repeat-mode-view-img-container">
                                    <a href="javascript:void(0);">
                                        <div class='repeat-mode-view-img'>
                                            <img  class="img-thumbnail" src="https://images.pexels.com/photos/458766/pexels-photo-458766.jpeg?auto=compress&cs=tinysrgb&h=550" alt="" />
                                        </div>
                                    </a>
                                    <div class="repeat-mode-view-title-container">
                                        <div class="repeat-mode-view-title">
                                            <a href="javascript:void(0);">
                                                Ranveer goes super dark for wedding reception dinner in Mumbai
                                            </a>
                                        </div>
                                        <div class="story-meta-wrapper">
                                            <ul class="list-unstyled list-inline">
                                                <li class="list-inline-item story-writer-name">
                                                    <span>By </span>
                                                    <span> <a href="javascript:void(0);" > Bharat Choubey </a> </span>
                                                </li>
                                                <li class="list-inline-item story-datetime">
                                                    <span> 25-Nov-2018</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="repeat-mode-view-wrapper">
                                <div class="repeat-mode-view-img-container">
                                    <a href="javascript:void(0);">
                                        <div class='repeat-mode-view-img'>
                                            <img  class="img-thumbnail" src="https://images.pexels.com/photos/458766/pexels-photo-458766.jpeg?auto=compress&cs=tinysrgb&h=550" alt="" />
                                        </div>
                                    </a>
                                    <div class="repeat-mode-view-title-container">
                                        <div class="repeat-mode-view-title">
                                            <a href="javascript:void(0);">
                                                Ranveer goes super dark for wedding reception dinner in Mumbai
                                            </a>
                                        </div>
                                        <div class="story-meta-wrapper">
                                            <ul class="list-unstyled list-inline">
                                                <li class="list-inline-item story-writer-name">
                                                    <span>By </span>
                                                    <span> <a href="javascript:void(0);" > Bharat Choubey </a> </span>
                                                </li>
                                                <li class="list-inline-item story-datetime">
                                                    <span> 25-Nov-2018</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="repeat-mode-view-wrapper">
                                <div class="repeat-mode-view-img-container">
                                    <a href="javascript:void(0);">
                                        <div class='repeat-mode-view-img'>
                                            <img  class="img-thumbnail" src="https://images.pexels.com/photos/458766/pexels-photo-458766.jpeg?auto=compress&cs=tinysrgb&h=550" alt="" />
                                        </div>
                                    </a>
                                    <div class="repeat-mode-view-title-container">
                                        <div class="repeat-mode-view-title">
                                            <a href="javascript:void(0);">
                                                Ranveer goes super dark for wedding reception dinner in Mumbai
                                            </a>
                                        </div>
                                        <div class="story-meta-wrapper">
                                            <ul class="list-unstyled list-inline">
                                                <li class="list-inline-item story-writer-name">
                                                    <span>By </span>
                                                    <span> <a href="javascript:void(0);" > Bharat Choubey </a> </span>
                                                </li>
                                                <li class="list-inline-item story-datetime">
                                                    <span> 25-Nov-2018</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="repeat-mode-view-wrapper">
                                <div class="repeat-mode-view-img-container">
                                    <a href="javascript:void(0);">
                                        <div class='repeat-mode-view-img'>
                                            <img  class="img-thumbnail" src="https://images.pexels.com/photos/458766/pexels-photo-458766.jpeg?auto=compress&cs=tinysrgb&h=550" alt="" />
                                        </div>
                                    </a>
                                    <div class="repeat-mode-view-title-container">
                                        <div class="repeat-mode-view-title">
                                            <a href="javascript:void(0);">
                                                Ranveer goes super dark for wedding reception dinner in Mumbai
                                            </a>
                                        </div>
                                        <div class="story-meta-wrapper">
                                            <ul class="list-unstyled list-inline">
                                                <li class="list-inline-item story-writer-name">
                                                    <span>By </span>
                                                    <span> <a href="javascript:void(0);" > Bharat Choubey </a> </span>
                                                </li>
                                                <li class="list-inline-item story-datetime">
                                                    <span> 25-Nov-2018</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="repeat-mode-view-wrapper">
                                <div class="repeat-mode-view-img-container">
                                    <a href="javascript:void(0);">
                                        <div class='repeat-mode-view-img'>
                                            <img  class="img-thumbnail" src="https://images.pexels.com/photos/458766/pexels-photo-458766.jpeg?auto=compress&cs=tinysrgb&h=550" alt="" />
                                        </div>
                                    </a>
                                    <div class="repeat-mode-view-title-container">
                                        <div class="repeat-mode-view-title">
                                            <a href="javascript:void(0);">
                                                Ranveer goes super dark for wedding reception dinner in Mumbai
                                            </a>
                                        </div>
                                        <div class="story-meta-wrapper">
                                            <ul class="list-unstyled list-inline">
                                                <li class="list-inline-item story-writer-name">
                                                    <span>By </span>
                                                    <span> <a href="javascript:void(0);" > Bharat Choubey </a> </span>
                                                </li>
                                                <li class="list-inline-item story-datetime">
                                                    <span> 25-Nov-2018</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="repeat-mode-view-wrapper">
                                <div class="repeat-mode-view-img-container">
                                    <a href="javascript:void(0);">
                                        <div class='repeat-mode-view-img'>
                                            <img  class="img-thumbnail" src="https://images.pexels.com/photos/458766/pexels-photo-458766.jpeg?auto=compress&cs=tinysrgb&h=550" alt="" />
                                        </div>
                                    </a>
                                    <div class="repeat-mode-view-title-container">
                                        <div class="repeat-mode-view-title">
                                            <a href="javascript:void(0);">
                                                Ranveer goes super dark for wedding reception dinner in Mumbai
                                            </a>
                                        </div>
                                        <div class="story-meta-wrapper">
                                            <ul class="list-unstyled list-inline">
                                                <li class="list-inline-item story-writer-name">
                                                    <span>By </span>
                                                    <span> <a href="javascript:void(0);" > Bharat Choubey </a> </span>
                                                </li>
                                                <li class="list-inline-item story-datetime">
                                                    <span> 25-Nov-2018</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
{% endblock %}
